
@{
	ViewData["Title"] = "Home";
}

<section class="about-me-section p-3 p-lg-5 theme-bg-light">
			<div class="container">
				<div class="profile-teaser media flex-column flex-lg-row">

					<img class="profile-image rounded-circle mb-3 mb-lg-0 ml-lg-5 mr-md-0 mt-lg-5" src="~/assets/images/mammad.jpg"   height="250" width="250"  alt="" >

					<div class="media-body">
						<h2 class="name font-weight-bold mb-1">محمد صادق مهرافزون</h2>
						<div class="tagline mb-3"> برنامه نویس اندروید</div>
						<div class="bio mb-4">دانشجوی کارشناسی مهندسی کامپیوتر – نرم‌افزار در دانشگاه آیت‌الله بروجردی و دارای دو مدرک معتبر در حوزه برنامه‌نویسی اندروید هستند. زمینه‌های پژوهشی و کاری تخصصی ایشان در حوزه‌های برنامه‌نویسی اندروید به صورت تخصصی زبان جاوا (Java) و کاتلین (Kotlin) و مباحث UI/UX است.>,

همچنین ایشان اپلیکیشن‌های موفقی در مارکت‌های مطرح منتشر کرده‌اند و استارت‌آپ Mister Developer را در در اینستاگرام تاسیس کرده‌اند تا یک مرجع آموزش برنامه‌نویسی اندروید برای علاقه‌مندان به این حوزه باشد.


						</div>
						<div class="mb-4">
							<a class="btn btn-primary mr-2 mb-3" href="https://faradars.org/instructors/mohammad-sadegh-mehrafzoon" target="_blank"> 
								<img class="fas fa-arrow-alt-circle-right ml-2" alt ="myLinkedin">
									برو به فرادرس</a>

							<a class="btn btn-secondary mb-3" href="https://github.com/MohammadSadeghMehrafzoon" target="_blank">
								<img class="fas fa-file-alt ml-2"  >
								نمونه کارها</a>
						</div>
					</div>

				</div>
			</div>

			</section>

	

		<div  class="container mt-lg-5" >

			<hr >

		</div>

			

		@await Component.InvokeAsync("Projects");
		

		<div class="container">

			<hr >

		</div>

	
		@await Component.InvokeAsync("LastEducation");